@charset "ISO-8859-1";

body {
	background-color: #CEECF5;
}

#main {
	position: relative;
	margin: 0px auto;
}

#main #index-1 {
	height: 500px;
	width: 400px;
	background-color: #F5DA81;
	z-index: 1;
	position: absolute;
	opacity: 0.4;
	box-shadow:2px 2px 10px gray;
	margin: 0px auto;
}

#main #index-2 {
	z-index: 2;
	position: absolute;
	padding: 20px 0px 0px 40px;
}
#main .index{
	top: 100px;
	left: 35%
}
#main #index-2 .hidden{
	background: #D8D8D8;
}
#main #index-2 h1{
	text-align: center;
}
/* #main table { */
/* 	padding: 20px 0px 0px 40px; */
/* } */